*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

article{
    margin: 40px auto;
    padding: 17px 0  10px 10px;
    max-width: 600px;
    background-color: antiquewhite;
    border-left: 2px solid black;
    box-shadow: -5px 5px 12px 6px rgb(196, 196, 196);
}

hr{
    border: 1px solid rgb(206, 206, 206);
    margin-bottom: 8px;
    margin-top: 8px;
}

#search-here{
    height: 27px;
    padding-left: 5px;
    border: 2px solid rgb(192, 192, 192);
    outline: none;
}

#search-button{
    padding: 4px 8px;
    border: 2px solid rgb(192, 192, 192);
    color: black;
    font-weight: 600;
}

main{
    margin-top: 12px;
}

img{
    margin-bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
}

.feedback{
    margin-bottom: 5px;
}

main label{
    margin-bottom: 5px;
}

#text{
    margin-bottom: 10px;
}

main label input[type="submit"]{
    padding: 4px 8px;
    border: 2px solid rgb(192, 192, 192);
    color: black;
    font-weight: 600;
}












