/* font family import link */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* This style apply all section */
* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

/* Common element style */

button {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    font-size: 20px;
    color: white;
    border: none;
    transition: all 0.3s;
}

button:hover {
    background: rgb(255, 73, 73);
}

/* Header section Style */

header {
    padding: 50px 240px;
}

header .header {
    justify-content: center;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 217px 344px;
    border-radius: 16px;
}

header h5 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
    color: white;
}


/* Main Section style */

main {
    padding: 50px 140px;
}

/* Discount section style */

.discount-section {
    padding: 0 400px;
}

.discount-section h1,
h5 {
    color: #F00;
    text-align: center;
}

.discount-section h1 {
    font-size: 88px;
    font-weight: 700;
}

.discount-section h5 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 15px;
}

.discount-section h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;
}

.discount-section img {
    width: 800px;
    height: 500px;
    align-items: center;
}

/* Welcome section style */

.welcome-section {
    padding: 120px 140px;
}

.welcome-section>div {
    display: flex;
    gap: 40px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Images/Vector.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 66px 138px;
    border-radius: 16px;
}

.welcome-section .join-now {
    padding: 66px 0 76px;
}

.welcome-section .join-now h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    text-align: left;
}

.welcome-section .join-now p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 700px;
}

/* party location section style */

.party-location {
    padding: 0 140px;
}

.party-location>div {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 100px 385px;
}

.party-location p {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.party-location span {
    color: #F00;
}

.party-location .button {
    margin-top: 20px;
}

/* Up coming offer section style */

.up-coming-offer {
    padding: 100px 140px;
    display: flex;
    gap: 70px;
}

.up-coming-offer .offer {
    padding-top: 100px;
}

.up-coming-offer .offer h1,
h3,
p {
    text-align: left;
}

.up-coming-offer .left h3 {
    color: #F00;
    font-size: 18px;
    font-weight: 500;
}

.up-coming-offer .left h1 {
    color: #070211;
    font-size: 40px;
    font-weight: 900;
    margin: 20px auto;
}

.up-coming-offer p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    width: 390px;
    text-align: justify;
}

.up-coming-offer .right h1 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.up-coming-offer .right p {
    margin: 10px auto 38px;
}

.up-coming-offer .image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 15px solid #F00;
    width: 100%;
    height: 100%;
    border-radius: 463px;
    padding: 25px;
}

.up-coming-offer .image img {
    width: 365px;
    height: 365px;
    border-radius: 365px;
}

/* Holiday Offer section styles */

.holidays-offer {
    padding: 100px 140px;
}

.holidays-offer .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.holidays-offer .top h4 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.holidays-offer .top h1 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin: 16px auto 28px;
}

.holidays-offer span {
    color: #F00;
    font-size: 72px;
    font-weight: 900;
}

.holidays-offer .top p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding: 0 150px;
}

.holidays-offer .bottom .lady {
    position: relative;
    display: flex;
    justify-content: right;
}

.holidays-offer .bottom .discount {
    position: absolute;
    top: 80px;
    right: 275px;
}

.holidays-offer .bottom .bottom-image {
    position: relative;
    display: flex;
    justify-content: right;
}

.holidays-offer .bottom .box {
    position: absolute;
    bottom: 5px;
    left: 0px;
}

/* Portfolio Section style */

.portfolio {
    padding: 0 140px 100px;
}

.portfolio .top {
    padding-right: 250px;
    margin-bottom: 30px;
}

.portfolio .top h3,
h1,
p {
    text-align: left;
}

.portfolio .top h3 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.portfolio .top h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: 15px auto;
}

.portfolio .top p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.portfolio .bottom img {
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Subscription section style */

.subscription {
    padding: 0 140px;
    margin-bottom: 80px;
}

.subscription>div {
    padding: 80px 212px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.subscription h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: 40px auto 22px;
}

.subscription p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

.subscription .input {
    display: flex;
    margin-top: 48px;
}

.subscription input[type="text"] {
    padding: 25px 30px;
    font-size: 18px;
    color: rgba(7, 2, 17, 0.30);
    border-radius: 50px 0px 0px 50px;
    border: none;
    background-color: white;
    outline: none;
    width: 400px;
}

.subscription input[type="button"] {
    padding: 5px 20px;
    font-size: 20px;
    color: white;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    width: 200px;
    transition: all 0.3s;
}

.subscription input[type="button"]:hover {
    background: rgb(255, 103, 103);
}

/* Footer Section style */

footer>div {
    padding: 120px 240px 50px;
    background-color: black;
    color: white;
}

footer .footer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-section .address {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    width: 375px;
}

.footer-section .icon {
    display: flex;
    gap: 10px;
    padding-right: 230px;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 35px;
    border: 1px solid rgb(26, 25, 25);
}

footer .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 15px;
}

footer button {
    background-color: black;
}