@import url('https://fonts.googleapis.com/css2?family=Afacad:ital@1&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&family=PT+Sans:ital@1&display=swap');

/* Common styles */

* {
    margin: 0;
    padding: 0;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.button {
    color: white;
    background-color: #FD6E0A;
    padding: 18px 20px 18px 15px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.bx {
    width: 24px;
    height: 24px;
    padding-right: 22px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 830px;
}

section {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 130px;
}

/* Navbar Section design */

.header {
    background-color: #FFF8F3;
    padding: 50px 30px 0 230px;
    background-image: url('../Images/Background\ 1.png'), url('../Images/Developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 265px;
}

nav h1 {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

nav span {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

/* Header Section styles */

.header .intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 230px; */
}

.header .greeting-message {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.header .name {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.header .author-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 620px;
}

.header .intro img {
    width: 584px;
    height: 676px;
    margin-bottom: -5px;
}

.header .button-section {
    display: flex;
    gap: 30px;
}

.header .contact {
    background-color: white;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}


/* About Section style */

main {
    padding: 130px 0 113px;
}

.about-author {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 155px;
    align-items: center;
}

.about-author .author-details {
    display: flex;
    justify-content: space-around;
}

.about-author .info {
    display: flex;
    flex-direction: column;
}

.about-author .name {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.about-author .mary {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

/* What I do section style */

.what-do .author-do {
    display: flex;
    justify-content: space-around;
}

.what-do .author-do div {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    max-width: 270px;
    padding: 30px;
}

.what-do .author-do div .author-do-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}

.what-do .author-do div .author-do-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}


/* Resume section style */

.resume-section>div {
    display: flex;
    justify-content: space-between;
}

.resume-section .two-resume-section {
    display: flex;
    flex-direction: column;
}

.resume-section-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume-section .degree-info {
    max-width: 510PX;
}

.resume-section .degree-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.degree-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

hr {
    background: #D1D1D1;
    height: 1px;
    margin-bottom: 30px;
}

.resume-section .button{
    margin-left: 470px;
    margin-top: 25px;
}

.resume-section .section-title {
    margin-bottom: 113px;
}


/* Footer section style */

footer {
    background-color: #FFF8F3;
    display: flex;
    justify-content: center;
    gap: 110px;
    padding: 130px 0;
}

footer .two-footer-section {
    max-width: 550px;
}

footer .section-title {
    text-align: left;
}

footer .section-description {
    text-align: left;
}

.footer-icon {
    display: flex;
    gap: 25px;
}

footer form{
    display: flex;
    flex-direction: column;
}

footer input[type="text"]{
    height: 50px;
}

footer input[type="text"],
textarea {
    border-radius: 5px;
    background: #FFF;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
}

footer input[type="submit"]{
    width: 150px;
}