@import url('https://fonts.googleapis.com/css2?family=Afacad:ital@1&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&family=PT+Sans:ital@1&display=swap');

/* Common styles */

* {
    margin: 0;
    padding: 0;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.button {
    color: white;
    background-color: #FD6E0A;
    padding: 18px 20px 18px 15px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.bx{
    width: 24px;
    height: 24px;
    padding-right: 22px;
}

/* Navbar Section design */

.header {
    background-color: #FFF8F3;
    padding: 50px 30px 0 230px;
    background-image: url('../Images/Background\ 1.png'), url('../Images/Developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 265px;
}

nav h1 {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

nav span {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

/* Header Section styles */

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 230px; */
}

.greeting-message {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.name {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.author-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 620px;
}

section img {
    width: 584px;
    height: 676px;
    margin-bottom: -5px;
}

.button-section{
    display: flex;
    gap: 30px;
}

.contact{
    background-color: white;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}

















